name: First Pipeline

on:
  push:
    branches:
      - main

jobs:
  demo-job:
    runs-on: ubuntu-latest

    steps:
      - name: Say Hello
        run: echo "Hello, GitHub Actions Pipeline is running!"

              - name: Check system
        run: |
          uname -a
          df -h
          free -m

        
